#contenedor{
        background-color:#F4ABF2;
        border:2px solid #FF0000;
}
#cabecera{
        background-color:#E5BC7A;
        height:20%;
}
#menu{
        height:10%;
        background-color:#C8CACC;
}

div ul , div li { 
    margin: 0; 
    list-style:none; 
    list-style-image: none
}

.menu_item {
    margin: 0 0 0 30px;
    float: left;
    border: solid gray 3px;
    padding: 10px;
}

#banner {
        display:block;
        margin:auto;
}

#izquierda{
        height:50%;
        background-color:#BDD2EF;
        float:left;
        width:50%;
}
#derecha{
        height:50%;
        background-color:#DAF7E2;
        float:right;
        width:50%;
}
#pie{
        height:20%;
        background-color:#D3D1C1;
        clear:both;
}